 
.list-styles {
  display:inline;
  list-style: none;
}
.footer-style {
  font-weight: bold;
  font-size: 18px;
}
.img-style {
  max-width: 100%;
}
.thumbnail-img{
  max-width: 200px;
  width: 100px;
}
a {
  cursor: pointer;
}
.colors-style {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 3px;
  cursor:pointer;
  border:1px solid #fff;
  padding:5px;
} 
.colors-style:hover ,.colors-style.isSelected {
  width: 21px;
  height: 21px; 
  padding:4px;
  margin:1px;
  border:2px solid #000;
}
.qty-styles {
  display:inline;
  font-size: 10px;
  font-weight: bold;
}
.inputQty-style {
  display:inline;
  max-width: 20%;
}
.list-styles label, .color-diplaystyle  {
  text-transform: capitalize;
}
    